set visualbell
set noerrorbells 

set relativenumber = true
set nu = true

set scrolloff=8

set signcolumn = yes
set isfname+=@-@

set clipboard+=unnamed

"This unsets the "last search pattern" register by hitting return
nnoremap <silent> <CR> :nohlsearch<CR><CR>
xnoremap <silent> <CR> :nohlsearch<CR><CR>

let mapleader = " "

" Highlights on search typing
set incsearch
" Highlights on search
set hls

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>

nmap <leader>rr :action RenameElement<CR>
nmap <leader>rem :action ExtractMethod<CR>
nmap <leader>roi :action OptimizeImports<CR>
nmap <leader>f :action ReformatCode<CR>

nmap < :action MoveElementRight<CR>
nmap > :action MoveElementLeft<CR>
